[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
flask-sqlalchemy = "*"

[dev-packages]
pylint = "*"
import-order = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.9"
