[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
djangorestframework = "*"
django = "*"

[dev-packages]
pylint = "*"
import-order = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
